<mat-toolbar color="primary" class="auto-height">
  <mat-form-field class="search-bar">
    <input
      matInput
      type="search"
      placeholder="Search by title, keyword or file type"
    />
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>
<mat-toolbar class="auto-height">
  <mat-form-field>
    <mat-label>Filter by</mat-label>
    <mat-select>
      <mat-option>All media</mat-option>
      <mat-option>Videos</mat-option>
      <mat-option>Interactive videos</mat-option>
      <mat-option>Audio</mat-option>
      <mat-option>Images</mat-option>
      <mat-option>Documents</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sort by</mat-label>
    <mat-select>
      <mat-option>Date uploaded</mat-option>
      <mat-option>Alphabetical</mat-option>
    </mat-select>
  </mat-form-field>
  <span class="spacer"></span>
  <button mat-button>
    <mat-icon>clear</mat-icon>
    Clear
  </button>
  <button mat-icon-button>
    <mat-icon>sort</mat-icon>
  </button>
</mat-toolbar>
<mat-list>
  <!--  <mat-list-item *ngFor="let folder of folders">-->
  <mat-list-item>
    <h4 mat-line>title1</h4>
    <p mat-line>date1 | type1</p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line>title2</h4>
    <p mat-line>date2 | type2</p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line>title3</h4>
    <p mat-line>date3 | type3</p>
  </mat-list-item>
</mat-list>
